//
   Created by f13 on 4/2/14.
doctype html
head
    meta(charset="utf-8")
    link(href="style.css" type="text/css" rel="stylesheet")
body
    div.card.spade.v_A
        p
    div.card.heart.v_2
        p