.clearfix {
  display: block;
  zoom: 1;
}
.clearfix:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* apply a natural box layout model to all elements */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: #00a651;
}
.card {
  position: relative;
  width: 200px;
  height: 300px;
  background: white;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0px -3px 17px 0px rgba(50, 50, 50, 0.76);
  -moz-box-shadow: 0px -3px 17px 0px rgba(50, 50, 50, 0.76);
  box-shadow: 0px -3px 17px 0px rgba(50, 50, 50, 0.76);
  margin: 5px;
  padding: 5px;
}
.card p {
  text-align: center;
  font: 200px/300px Georgia, Times New Roman, serif;
  font-weight: lighter;
}
.card:after {
  position: absolute;
  font-size: 35px;
  right: 5px;
  bottom: 5px;
}
.card:before {
  position: absolute;
  font-size: 35px;
  left: 5px;
  top: 5px;
}
/*
 * This is beautiful. powerful usage of less-loops with lists.
 * expunge mundane.
 * http://stackoverflow.com/questions/14493439/less-repeat-selector-declaration-inside-a-mixin/14504373#14504373
*/
.v_2 p:after {
  content: "2";
}
.v_3 p:after {
  content: "3";
}
.v_4 p:after {
  content: "4";
}
.v_5 p:after {
  content: "5";
}
.v_6 p:after {
  content: "6";
}
.v_7 p:after {
  content: "7";
}
.v_8 p:after {
  content: "8";
}
.v_9 p:after {
  content: "9";
}
.v_10 p:after {
  content: "10";
}
.v_K p:after {
  content: "K";
}
.v_J p:after {
  content: "J";
}
.v_A p:after {
  content: "A";
}
.diamond {
  color: #ff0000;
}
.diamond:before {
  content: "♦";
}
.diamond:after {
  content: "♦";
}
.club {
  color: #000000;
}
.club:before {
  content: "♣";
}
.club:after {
  content: "♣";
}
.heart {
  color: #ff0000;
}
.heart:before {
  content: "♥";
}
.heart:after {
  content: "♥";
}
.spade {
  color: #000000;
}
.spade:before {
  content: "♠";
}
.spade:after {
  content: "♠";
}
